* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none !important;
}
.all {
  background-color: #dcf2ed;
  height: 100vh;
  .sign-up {
    background-color: #ffffff;
    border-radius: 50px;
    #signform {
      row-gap: 10px;
      padding: 50px;
      input {
        width: 100%;
        padding: 7px;
      }
      .checkbox {
        column-gap: 10px;
        input {
          width: 20px;
          height: 20px;
          accent-color: #20484f;
        }
      }
      #submit {
        padding: 10px;
        border: none;
        background-color: #20484f;
        color: white;
        font-weight: 400;
        font-size: 18px;
      }
    }
  }
}
